Repository polygolf-lang/polygolf, pull requests merged in 2023-11, with the labels that each got.

#256 Print all EmitErrors on debug flag
  src/cli.ts
  src/common/compile.ts
  src/common/emit.ts
Labels: enhancement

#255 Conditional expressions
  src/common/Language.ts
  src/common/compile.ts
  src/common/getType.ts
  src/languages/javascript/emit.ts
  src/languages/javascript/javascript.test.md
  src/languages/lua/index.ts
  src/languages/lua/lua.test.md
  src/languages/nim/emit.ts
  src/languages/nim/index.ts
  src/languages/nim/nim.test.md
  src/languages/python/emit.ts
  src/languages/python/index.ts
  src/languages/python/python.test.md
  src/languages/swift/emit.ts
  src/languages/swift/swift.test.md
  src/markdown-tests/index.ts
  src/plugins/arithmetic.ts
  src/plugins/conditions.test.md
  src/plugins/conditions.ts
  src/plugins/ops.ts
  src/plugins/textOps.ts
Labels: enhancement, plugin

#279 fix gs print
  src/languages/golfscript/golfscript.test.md
  src/languages/golfscript/index.ts
  src/plugins/idents.ts
  src/plugins/print.ts
  src/programs/code.golf-default.test.md
Labels: enhancement

#275 improve golfLastPrint
  src/languages/golfscript/index.ts
  src/languages/javascript/index.ts
  src/languages/lua/index.ts
  src/languages/nim/index.ts
  src/languages/python/index.ts
  src/languages/swift/index.ts
  src/plugins/print.ts
  src/plugins/static.ts
Labels: enhancement, plugin

#269 Opcode groups
  .prettierignore
  README.md
  docs/opcodes.generated.md
  package.json
  src/IR/exprs.ts
  src/IR/opcodes.ts
  src/IR/types.ts
  src/common/compile.ts
  src/common/getType.test.ts
  src/common/getType.ts
  src/common/symbols.ts
  src/cover/index.ts
  src/docs-gen/index.ts
  src/frontend/grammar.ne
  src/frontend/lexer.ts
  src/frontend/parse-emit.test.ts
  src/frontend/parse.test.ts
  src/frontend/parse.ts
  src/languages/golfscript/golfscript.test.md
  src/languages/golfscript/index.ts
  src/languages/javascript/index.ts
  src/languages/lua/index.ts
  src/languages/nim/index.ts
  src/languages/polygolf/emit.ts
  src/languages/python/index.ts
  src/languages/python/python.test.md
  src/languages/swift/index.ts
  src/languages/swift/swift.test.md
  src/markdown-tests/index.ts
  src/plugins/arithmetic.ts
  src/plugins/block.test.md
  src/plugins/conditions.test.md
  src/plugins/conditions.ts
  src/plugins/idents.test.md
  src/plugins/loops.test.md
  src/plugins/loops.ts
  src/plugins/ops.test.md
  src/plugins/ops.ts
  src/plugins/packing.ts
  src/plugins/print.ts
  src/plugins/static.test.md
  src/plugins/static.ts
  src/plugins/tables.test.md
  src/plugins/tables.ts
  src/plugins/textOps.test.md
  src/plugins/textOps.ts
Labels: enhancement, architecture

#252 add golfTextListLiteralIndex plugin
  src/common/compile.ts
  src/common/emit.ts
  src/common/getType.ts
  src/common/objective.ts
  src/common/strings.ts
  src/languages/python/emit.ts
  src/languages/python/index.ts
  src/languages/python/plugins.ts
  src/languages/python/python.test.md
  src/plugins/loops.ts
  src/plugins/packing.ts
  src/plugins/static.ts
  src/plugins/textOps.ts
Labels: enhancement, plugin
